* {
	margin: 0;
	padding: 0;
	font-family: "Dosis", sans-serif;
}
/*Nav/ Footer/ Background on every page*/
.navBar {
	margin: 30px auto;
	display: flex;
	align-items: center;
	font-size: 20px;
	width: 80%;
	margin: auto;
}

.navBar ul {
	flex: 1;
	text-align: right;
}

#pageContainer {
	position: relative;
	min-height: 90vh;
}

#contentWrap {
	padding-bottom: 2.5rem; /* Footer height */
}

#footer {
	bottom: 0;
	width: 98.7%;
	height: 2.5rem; /* Footer height */
	color: white;
	background-color: rgba(7, 73, 131, 0.856);
}
.navBar ul li {
	display: inline-block;
	list-style: none;
	margin: 0 25px;
}

.navBar ul li a {
	text-decoration: none;
	color: white;
	padding: 0 10px;
	position: relative;
}

.navBar ul li a::after {
	content: "";
	width: 0;
	height: 10px;
	background: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -70%;
	transition: 0.5s;
}

.navBar ul li a:hover:after {
	width: 100%;
}

#doc {
	color: rgb(8, 119, 215);
	margin: 0;
	padding: 1%;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo {
	width: 10%;
	height: 10%;
}

.backGround {
	width: 100%;
	height: 78vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(Images/wallpaperflare.com_wallpaper.jpg);
	background-size: cover;
	background-position: center;

	padding-top: 1rem;
}

.spaceBG {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(Images/jeremy-perkins-uhjiu8FjnsQ-unsplash.png);

	padding-top: 1rem;
	background-repeat: round;
}

footer {
	background-color: rgba(13, 80, 139, 0.442);
	color: #fff;
	padding: 10px;
	text-align: center;
	height: 60px;
}

/* Home page button and banner*/
.banner {
	width: 100%;
}

.banner h1 {
	color: rgb(8, 119, 215);
	font-size: 50px;
	margin-left: 5%;
	margin-top: 20%;
	margin-bottom: 5%;
}

.banner h1 {
	color: rgb(8, 119, 215);
	font-size: 50px;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.banner p {
	color: white;
	font-size: 20px;
	margin-left: 5%;
	margin-top: 1%;
}

.btn button {
	padding: 7px 30px;
	margin-left: 5%;
	margin-top: 10%;
	outline: none;
	border: 1px solid rgb(8, 119, 215);
	border-radius: 20px;
	cursor: pointer;
	color: white;
	background: transparent;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.btn ul li {
	list-style: none;
}

.btn ul li a {
	text-decoration: none;
	color: rgb(8, 119, 215);
	font-size: 15px;
}

.btn {
	border-radius: 4px;
	background-color: rgb(8, 119, 215);
	border: none;
	margin-left: 5%;
	margin-top: 3%;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 220px;
	transition: all 0.5s;
	cursor: pointer;
}

.btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn:hover span {
	padding-right: 25px;
}

.btn:hover span:after {
	opacity: 1;
	right: 0;
}

.btn1 button {
	padding: 7px 30px;

	outline: none;
	border: 1px solid rgb(8, 119, 215);
	border-radius: 20px;
	cursor: pointer;
	color: white;
	background: transparent;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.btn1 ul li {
	list-style: none;
}

.btn1 ul li a {
	text-decoration: none;
	color: rgb(8, 119, 215);
	font-size: 15px;
}

.btn1 {
	border-radius: 4px;
	background-color: rgb(8, 119, 215);
	border: none;
	margin-left: 5%;
	margin-top: 3%;
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	padding: 15px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
}

.btn1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn1 span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn1:hover span {
	padding-right: 25px;
}

.btn1:hover span:after {
	opacity: 1;
	right: 0;
}

/*Blog posts images and scroll boxes*/
.blogIMGs {
	width: 20%;
	height: 80%;
	float: right;
	margin-top: 7%;
}

.blogIMGs2 {
	width: 20%;
	height: 80%;
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.blogIMGFlex {
	display: flex;
	gap: 10%;
}
#myBlog {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blogHeading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: -1%;
}

.blogHeading h1 {
	font-size: 30px;
	color: rgb(8, 119, 215);
	font-weight: 600;
}

.blogContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.blogBox {
	width: 320px;
	background-color: #ffffff;
	border: 1px solid #ececec;
	margin: 10px;
}

.blogIMG {
	width: 100%;
	height: auto;
}

.blogIMG img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.blogText {
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.blogText h2 {
	text-decoration: none;
	font-size: 25px;
	font-weight: 500;
	color: rgb(24, 151, 235);
}

.blogText p {
	font-size: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0px;
}
.scrollBg {
	background: #1741be51;
	width: 40%;
	margin-top: 3%;
	margin-left: 8%;
	border-radius: 20px;
	float: left;
}

.scrollObject {
	color: white;
	font-size: 20px;
	padding: 5%;
}

.scrollObject p {
	margin: 3% auto;
}

.scrollObject h2 {
	color: white;
	font-size: 30px;
	padding-bottom: 6%;
}
.scrollObject h3 {
	color: rgb(8, 119, 215);
	font-size: 22px;
	padding-bottom: 5%;
	padding-top: 3%;
}

.scrollBg2 {
	background: #1741be51;
	width: 40%;
	margin-top: 8%;
	margin-right: 8%;
	border-radius: 20px;
	float: right;
}

.scrollBg3 {
	background: #1741be51;
	width: 100%;
	margin-top: 45%;
	margin-right: 5%;
	border-radius: 20px;
}

.scrollObject3 h2 {
	color: white;
	font-size: 30px;
	text-align: left;
	padding-bottom: 5%;
}

.scrollObject3 p {
	padding: 0.5%;
}
.scrollDiv {
	width: 600px;
	border: 1px solid #ffffff;
	background: transparent;
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
	border-radius: 10px;
}
.scrollDiv2 {
	width: 600px;
	border: 1px solid #ffffff;
	background: transparent;
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
	border-radius: 10px;
}

.scrollObject2 {
	color: white;
	font-size: 20px;
	padding: 5%;
}

.scrollObject3 {
	color: white;
	font-size: 20px;
	padding: 5%;
}
.scrollObject2 p {
	margin: 3% auto;
}
.scrollObject2 h2 {
	color: white;
	font-size: 30px;
	padding-bottom: 3%;
}

.scrollObject2 h3 {
	color: rgb(8, 119, 215);
	font-size: 25px;
	padding-bottom: 5%;
	padding-top: 3%;
}

/*Data Visuals Graphs, APIs*/

.apodIMG {
	width: 450px;
	height: 450px;
	display: none;
	margin-left: 8%;
	margin-top: 13%;
}

#apodVideo {
	width: 450px;
	height: 450px;
	display: none;
	margin-left: 5%;
	margin-top: 2%;
}

.apodText {
	color: #ffffff;
}

.apiText h1 {
	color: rgb(39, 133, 216);
	margin: 0;
	padding: 0;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2%;
	margin-top: -10px;
}

.apiText p {
	color: white;
	margin: 0;
	padding: 0;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
	margin-top: -20px;
}

.apodContainer {
	margin-top: 5%;
}

.textBox {
	display: flex;
	margin-top: -400px;
	padding: 2%;
	color: #ffffff;
	margin-left: 40%;
	font-size: 20px;
	margin-right: 10%;
}

.textBox h2 {
	color: rgb(87, 39, 172);
	margin-top: -25%;
	margin-left: 10%;
}

.textBox p {
	padding: 3%;
}
.bar {
	fill: steelblue;
}
#graphContainer {
	margin-top: 8%;
	margin-left: 55%;
	display: none;
	font-size: 20px;
	font-weight: 900;
}

#graphContainer h2 {
	color: rgb(39, 133, 216);
	margin-left: -200px;
	margin-bottom: 10%;
	margin-top: 15%;
}

#scatterContainer {
	font-weight: 900;
	margin-top: 15%;
	margin-left: 3%;
	font-size: 25px;
}
#graphText {
	color: #ffffff;
	padding: 3%;
	display: none;
	margin-top: -30%;
	margin-right: 40%;
	padding: 2%;
}

#graphText p {
	font-size: 20px;
}
#graphText h2 {
	color: rgb(87, 39, 172);
	text-align: center;
	padding: 3%;
	font-size: 25px;
}
#graphText1 {
	color: #ffffff;
	padding: 2%;
	display: none;
	margin-top: -33%;
	margin-left: 50%;
}
#graphText1 h2 {
	color: rgb(87, 39, 172);
	text-align: center;
	padding: 3%;
	font-size: 25px;
}

#graphText1 p {
	font-size: 20px;
}

.axisLeft {
	stroke: #ffffff;
}

.svgColour {
	color: white;
	background-color: #ffffff;
}
#searchDate {
	background-color: rgba(13, 80, 139, 0.633);
	color: white;
	font-size: 15.5px;
	border-radius: 5%;
}
#search {
	background-color: rgba(13, 80, 139, 0.734);
	color: white;
	font-size: 15.3px;
	border-radius: 5%;
}
.searchBar {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loader {
	display: none;
	color: #fff;
	font-size: 20px;
	position: fixed;
	margin-top: 40%;
}

.graphBG {
	background-color: #32333b;
	overflow: hidden;
}

.label {
	fill: #fff;
	font-family: sans-serif;
	font-size: 10px;
}

text {
	fill: #777;
}

line {
	stroke: #777;
}

.focusLine {
	shape-rendering: crispEdges;
	stroke: #777;
	stroke-width: 1.1;
	stroke-linecap: butt;
}

.div1 {
	height: 55%;
}
/*Art Data Section */

.artText {
	padding: 2%;
}
.artText h1 {
	color: rgb(39, 133, 216);
	margin: 0;
	padding: 0;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
	margin-top: -10px;
	margin-bottom: 2%;
}

.artText p {
	color: white;
	margin: 0;
	padding: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
}

#artContainer {
	margin-left: 40px;
}

.div2 {
	height: 20%;
}

/* Design Doc code and accordion*/
.mainBody {
	display: grid;
	grid-template-columns: minmax(300px, auto) 1fr;
	grid-template-areas: "navbar mainContent";
	grid-gap: 20px;
}

#leftNavbar {
	grid-area: navbar;
	position: fixed;
	margin-left: 3.5%;
}

#leftNavbar a {
	display: block;
	border: 1px solid white;
	padding: 5px;
	margin: 10px 0;
	text-decoration: none;
	color: rgb(62, 147, 222);
	font-size: 20px;
	font-weight: 600;
}

#leftNavbar a:hover {
	border: 2px solid rgb(87, 39, 172);
}

#mainDoc {
	grid-area: mainContent;
	color: white;
}

.mainSection h2 {
	font-size: 30px;
	padding: 2%;
	color: rgb(109, 64, 186);
	margin-top: 4%;
}

.mainSection p {
	padding: 1%;
	font-size: 20px;
	margin-right: 4%;
}

.mainSection h3 {
	font-size: 25px;
	padding: 2%;
	margin-top: 3%;
	color: rgb(174, 68, 198);
}
.designDocImg {
	width: 15%;
	height: 80%;
	float: right;
	margin-right: 10%;
	display: flex;
}

.designDocImgCenter {
	width: 15%;
	height: 80%;
	margin-left: 35%;
}
header {
	font-size: 1.5rem;
	font-weight: bold;
}

code {
	background-color: #ccc;
	display: block;
	padding: 20px;
}

.accordion {
	width: 90%;
	max-width: 1000px;
	margin: 2rem auto;
}
.accordionItem {
	background-color: rgba(7, 56, 100, 0.375);
	color: white;
	margin: 1rem 0;
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordionItemHeader {
	padding: 0.5rem 3rem 0.5rem 1rem;
	min-height: 3.5rem;
	line-height: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-size: 20px;
}

.accordionItemHeader::after {
	content: "\002B";
	font-size: 2rem;
	position: absolute;
	right: 1rem;
}
.accordionItemHeader.active::after {
	content: "\2212";
}
.accordionItemBody {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.accordionItemBodyContent {
	padding: 1rem;
	line-height: 1.5rem;
	border-top: 1px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordionItemBodyContent h2 {
	color: rgb(39, 133, 216);
	padding: 1%;
	margin: auto;
	text-align: center;
}

.accordionItemBodyContent ul li {
	font-size: 20px;
	padding: 1%;
	color: rgb(165, 39, 172);
}

.iterations {
	font-weight: bold;
	text-decoration: underline;
	display: flex;
	padding: 1%;
	margin-top: 3%;
	justify-content: space-between;
}

.imageFlex {
	display: flex;
	padding: 2%;
	gap: 20%;
}

.image1 {
	width: 120%;
	height: 100%;
	float: left;
}

.image2 {
	width: 100%;
	height: 100%;
	float: right;
}

@media screen and (max-width: 600px) {
	.navBar {
		margin: 30px auto;
		display: flex;
		align-items: center;
		font-size: 15px;
	}

	.navBar ul {
		flex: 1;
		text-align: right;
	}

	.navBar ul li {
		display: inline-block;
		list-style: none;
		margin: -5px;
	}

	.navBar ul li a {
		text-decoration: none;
		color: white;
		padding: 0 10px;
		position: relative;
	}

	.scrollBg {
		background: #0a1a4b51;
		width: 1000;
		margin: 5% auto;
		border-radius: 10px;
		margin-left: 5%;
	}
	.blogBG {
		background: #112f8896;
	}

	.blogBG h1 {
		color: white;
		font-size: 15px;
		padding: 5%;
	}

	.scrollBg2 {
		background: #0a1a4b51;
		width: 350px;
		border-radius: 10px;
		float: right;
		margin-right: 3%;
		margin-top: 2%;
	}

	.scrollObject {
		color: white;
		font-size: 15px;
		padding: 5%;
		background: rgba(8, 118, 215, 0.395);
	}

	.scrollObject p {
		margin: 3% auto;
	}

	.scrollObject h1 {
		color: rgb(8, 119, 215);
		font-size: 50px;
		margin-left: 5%;
		margin-top: 20%;
		margin-bottom: 5%;
	}
	.scrollObject h2 {
		color: rgb(8, 119, 215);
		font-size: 22px;
		padding-bottom: 5%;
		padding-top: 3%;
	}
	.scrollObject2 {
		color: white;
		font-size: 15px;
		padding: 5%;
	}

	.scrollObject2 p {
		margin: 3% auto;
	}
	.scrollObject2 h1 {
		color: white;
		font-size: 20px;
		padding-bottom: 3%;
	}

	.scrollObject2 h2 {
		color: rgb(8, 119, 215);
		font-size: 18px;
		padding-bottom: 5%;
		padding-top: 3%;
	}

	.scrollObject2 h3 {
		color: white;
		font-size: 17px;
		padding-bottom: 5%;
		padding-top: 3%;
	}

	.image1 {
		margin: 5% auto;
		height: 100%;
		width: 100%;
	}

	.image2 {
		margin: 5% auto;
		height: 100%;
		width: 100%;
	}

	/* Home Page */

	.banner {
		width: 100%;
	}

	.banner h1 {
		color: rgb(8, 119, 215);
		font-size: 30px;
		margin-left: 5%;
		margin-top: 20%;
		margin-bottom: 10%;
	}

	.banner p {
		color: white;
		font-size: 18px;
		margin-left: 5%;
		margin-top: 1%;
	}

	.btn button {
		padding: 7px 30px;
		margin-left: 5%;
		margin-top: 20%;
		outline: none;
		border: 1px solid rgb(8, 119, 215);
		border-radius: 20px;
		cursor: pointer;
		color: white;
		background: transparent;
		position: relative;
		overflow: hidden;
		text-decoration: none;
	}

	.btn {
		border-radius: 4px;
		background-color: rgb(8, 119, 215);
		border: none;
		margin-left: 5%;
		margin-top: 10%;
		color: #ffffff;
		text-align: center;
		font-size: 18px;
		padding: 15px;
		width: 220px;
		transition: all 0.5s;
		cursor: pointer;
	}

	/*Data Section*/
	.apiText h1 {
		color: rgb(39, 133, 216);
		margin: 0;
		padding: 0;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2%;
		margin-top: -10px;
	}

	.apiText p {
		color: white;
		margin: 0;
		padding: 0;
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1%;
		margin-top: -10%;
	}

	.apodIMG {
		width: 320px;
		height: 450px;
		display: none;
		margin-left: 8%;
		margin-top: 30%;
	}

	#apodVideo {
		width: 450px;
		height: 450px;
		display: none;
		margin-left: 5%;
		margin-top: 2%;
	}

	.apodText {
		color: #ffffff;
	}

	.apiText h1 {
		color: rgb(39, 133, 216);
		margin: 0;
		padding: 0;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1%;
	}

	.apiText p {
		color: white;
		margin: 0;
		padding: 0;
		font-size: 18px;
		padding: 1%;
		margin-top: 10%;
		margin-left: 5%;
	}

	.textBox {
		padding: 1%;
		color: #ffffff;
		font-size: 20px;
	}

	.textBox h2 {
		color: rgb(87, 39, 172);
		margin-top: -60%;
		margin-left: 5%;
	}

	.textBox p {
		margin-top: 250%;
		margin-left: -110%;
	}

	#graphContainer {
		display: none;
		font-size: 20px;
		font-weight: 900;
	}

	#graphContainer h2 {
		color: rgb(39, 133, 216);
		margin-left: -180px;
		margin-bottom: 10%;
		margin-top: 15%;
	}

	#graphText {
		color: #ffffff;
		padding: 1%;
		display: none;
		margin-top: 10%;
		display: flex;
	}

	#graphText p {
		font-size: 15px;
		margin-left: 10%;
		padding: 2%;
		justify-content: center;
	}

	#graphText h2 {
		color: rgb(87, 39, 172);
		text-align: center;
		padding: 1%;
		font-size: 30px;
		justify-content: center;
	}
	#graphText1 {
		color: #ffffff;
		display: none;
		margin-top: 10%;
		margin-left: 5%;
	}
	#graphText1 h2 {
		color: rgb(87, 39, 172);
		text-align: center;
		font-size: 20px;
	}

	#graphText1 p {
		font-size: 15px;
	}

	/*Footer*/

	#footer {
		bottom: 0;
		width: 95%;
		height: 2.5rem; /* Footer height */
		color: white;
		background-color: rgba(7, 73, 131, 0.856);
	}

	footer {
		background-color: rgba(13, 80, 139, 0.442);
		color: #fff;
		padding: 10px;
		text-align: center;
		height: 60px;
	}

	/*Design Doc*/
	.mainBody {
		display: grid;
		grid-template-columns: minmax(10px, auto) 1fr;
		grid-template-areas: "navbar mainContent";
	}

	#leftNavbar {
		display: none;
	}

	#leftNavbar a {
		display: none;
	}

	#leftNavbar a:hover {
		border: 2px solid rgb(87, 39, 172);
	}

	#mainDoc {
		grid-area: mainContent;
		color: white;
	}

	.mainSection h2 {
		font-size: 25px;
		padding: 2%;
		color: rgb(109, 64, 186);
		margin-top: 10%;
	}

	.mainSection p {
		padding: 1%;
		font-size: 15px;
		margin-right: 4%;
	}

	.mainSection h3 {
		font-size: 20px;
		padding: 2%;
		margin-top: 3%;
		color: rgb(174, 68, 198);
	}
	.designDocImg {
		width: 20%;
		height: 80%;
		float: right;
		margin-right: 10%;
		display: flex;
	}

	.designDocImgCenter {
		width: 20%;
		height: 80%;
		margin-left: 35%;
	}

	/* Art Section */

	#artContainer {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10%;
	}

	.artText {
		padding: 3%;
	}
	.artText h1 {
		color: rgb(39, 133, 216);
		margin: 0;
		padding: 0;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1%;
		margin-top: -10px;
		margin-bottom: 5%;
	}

	.artText p {
		color: white;
		margin: 0;
		padding: 2%;
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1%;
	}
}
